/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    width: 1440px;
    height: auto;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Julius Sans One', sans-serif;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}


/* main top-header css */

.top-header {
    width: 100%;
    height: 855px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .1) 10%, rgba(255, 255, 255, .6) 45%, rgba(255, 255, 255, 0) 50%), url(/img/header.jpg);
    background-position: cover;
    padding-top: 40px;
    box-shadow: 5px -26px 21px 10px #494949;
    overflow: hidden;
}

.logo img {
    padding-top: 15px;
}

.top-main-header {
    width: 100%;
    height: 106px;
    background-color: #fff;
}

.right-menu ul li {
    list-style-type: none;
    float: left;
    margin-left: 25px;
}

.right-menu ul {
    float: right;
    margin-top: 20px;
}

.right-menu ul li a {
    font-family: 'Baloo Tamma', cursive;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3.84px;
    color: #636363;
    border-bottom: 2px solid #e0e0e0;
    padding: 15px 0 0 0;
}


/*.slogan {
    background-color: ##fff;
    opacity: 1;
}*/

.slogan-area {
    width: 855px;
    height: 455px;
    background-color: rgba(255, 255, 255, .3);
    border: 5px solid rgb(243, 243, 243);
    text-align: left;
    padding: 60px 140px 0 100px;
    margin-top: 125px;
}

.slogan-area h1 {
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #000;
    line-height: 56px;
}

.slogan-area p {
    font-size: 20px;
    line-height: 32px;
    color: #898989;
    text-align: justify;
}


/*---second-section---*/

.second-section {
    width: 100%;
    height: 930px;
    margin: 0 auto;
}

.img-container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 10px;
}

.media-icon a {
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 372px;
    font-size: 101px;
    border: 8px solid #c0c0c0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.text-section {
    margin-right: 30px;
}

.section-header h2 {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 70px;
    padding-top: 70px;
    color: #000;
    letter-spacing: 6px;
}

.second-section-text p {
    font-size: 20px;
    color: #6b6b6b;
    line-height: 32px;
    padding-left: 70px;
    padding-right: 50px;
    text-align: justify;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.second-section-button a {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 4px;
    background-color: #363636;
    padding: 20px 50px;
    border-radius: 4px;
    width: 50%;
    text-align: center;
    margin-left: 70px;
    color: #fff;
    display: inline-block;
    margin-top: 50px;
}


/*===== Brows our menu section====*/

.section-area {
    width: 100%;
    height: 930px;
    background-color: #fbf4eb;
}

.third-section-header h2 {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 70px;
    padding-top: 70px;
    color: #000;
    letter-spacing: 6px;
    text-align: center;
}

.text-bonding {
    padding-left: 180px;
    padding-right: 80px;
}

.text-bonding:last-child {
    padding-left: 80px;
    padding-right: 180px;
}

.text-column {
    font-size: 20px;
    color: #6b6b6b;
    line-height: 32px;
    text-align: justify;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}